<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS: Esto le dice a la tienda qué usa tu app, pero NO muestra el pop-up por sí solo -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinerTraker"
        tools:targetApi="tiramisu">

        <!-- SOLO ESTA ACTIVIDAD TIENE CATEGORY LAUNCHER (Un solo ícono) -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AuthActivity ya no es Launcher, se abre desde dentro de la app -->
        <activity
            android:name=".AuthActivity"
            android:exported="false" />

        <activity
            android:name=".ViewCollectionActivity"
            android:exported="false" />

        <activity
            android:name=".DisplayImageAndText"
            android:exported="false" />


        <!-- Aquí aplicaremos la lógica del Pop-up de cámara -->
        <activity
            android:name=".CaptureIMG"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- (Opcional, pero recomendado) Canal por defecto para notificaciones de FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="wine_optimal_channel" />


    </application>

</manifest>